<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты от бабули: о нас</title>
    <link rel="stylesheet" href="public/style.css">
    <style>
        h3 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }

        i {
            font-style: italic;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        
    </style>
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="views/index.html" class="menu-link">Главная</a>
            <a href="views/recipes.html" class="menu-link">Рецепты</a>
            <a href="server/profile.php" class="menu-link">Профиль</a>
            <a href="views/about.html" class="menu-link">О нас</a>
        </div>
        <div class="content">
            <div class="recipes">
                <h3>Добро пожаловать на "Рецепты Бабули"!</h3>
                <p>Здесь вы найдете настоящее сокровище кулинарных традиций и вкусов. Наши рецепты — это не просто блюда, это истории, переданные из поколения в поколение. Каждый рецепт пропитан заботой, любовью и опытом наших бабушек.</p>
                <p><i>"Рецепты Бабули" — это онлайн-пространство, где воссоздаются вкусные моменты прошлого. Мы собрали лучшие рецепты домашней кухни, чтобы вы могли принести на стол неповторимый вкус и уют. Наша цель — вдохновлять вас готовить вкусно и с любовью.</i></p>
                <p>От традиционных блюд до творческих кулинарных идей — у нас есть рецепты на все случаи жизни. Погружайтесь в мир вкуса, экспериментируйте и создавайте удивительные блюда вместе с нами. Каждый рецепт сопровождается подробным описанием, чтобы даже начинающие мастера могли легко приготовить что-то особенное.</p>
                <p>Если у вас есть вопросы, предложения или вы хотите поделиться своими рецептами, свяжитесь с нами. Мы ценим ваше мнение и всегда открыты к общению.</p>
                <p>Email: info@recipes-babuli.com<br>Телефон: +1 (555) 123-4567</p>
            </div>
        </div>
    </div>
</body>
</html>
